* {    
  margin: 0;
  padding: 0 ;
}

.App{
  padding: 0;
  margin: 0;
  background: #283646;
  text-align: center;
}

.halfImg{
  height: 100%;
  width: 100%;
}

.top{
  background-color: #171717 ;
  height: 40vw;
  display: flex;
}

.advert{
  height: 100%;
  width: 100%;
  margin-left: 0vw;
  margin-top: 9vw;
}

.lamr{
  color: white;
  font-family: forte;
  font-size: 2vh;
  padding-right: 1vw;
}

.head{
  display: flex;
  height: 10vw;
  background: #171717;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.playerdiv {
  display: inline-block;
  margin: auto;
  width: 80vw;
  height: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0vh;
  padding-top: 5vh;
}

.logoImg{
  margin-left: 1vw;
  height: 8vw;
  width: 10vw;
}

.half{
  height: 100%;
  width: 50vw;
  
}

.player{
  padding-top: 1vh;
}

.middle{
  
  height: 170vw;
  background: white;
}

.lamr2{
  margin-top: 10vh;
  color: #11ACA3;
  font-family: forte;
}

.lamr3{
  color: white;
  font-family: forte;
  font-size: 4vw;
  padding-right: 1vw;
}

.lamr4{
  color: black;
  font-family: forte;
  font-size: 4vw;
  padding-right: 1vw;
  padding-top: 10vw;
}

.pics{
  display: flex;
  height: 50vw;
  width: 100%;

  justify-content: center;
  flex-wrap: wrap;
}

.picture{
  height: 80%;
  width: 55vw;
  background-size: 60vh;
  
  margin-right: 2.5vw;
  margin-left: 2.5vw;
  border-radius: 1vw;
  margin-top: 5vw;
}

.pictext{
  margin-right: 8vw;
  margin-left: 8vw;
  margin-top: 1vw;
  font-family: "Forte";
}

.third{
  height: 80vw;
  background: #171717;
}

.lamrthird{
  color: white;
  font-family: forte;
  font-size: 5vw;
  padding-right: 1vw;
  padding-top: 5vw;
}

.fourth{
  height: 75vw;
  background: rgb(172, 126, 12);
  display: flex;
  
}

.halffour{
  height: 100%;
  width: 50vw;
  flex-direction: column;
  display: flex;
}

.fourlamr{
  color: white;
  font-family: forte;
  font-size: 5vw;
  padding-right: 1vw;
  padding-top: 15vh;
}

.box{
  height: 6vw;
  width: 45vw;
  background-color: #EBB232;
  margin-top: 3vw;
  margin-left: 5vw;
  display: flex;
  align-items: center;
  border-radius: .25vw;
  
}

.lamrbox{
  color: white;
  font-family: forte;
  font-size: 2.5vw;
  padding-left: 1vw;
}

.fifth{
  height: 230vw;
  background: #171717;
}


